body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url('./data/backimg.jfif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;

}

/* Home Section Styles start here */
.home-image {
  width: 125vh;
  height: 100vh;
}

.image-container {
  text-align: center;
}

/* Home Section Styles end here */

/* Project Section Styles start here */
.projects-container {
  text-align: center;
  flex-wrap: wrap;
}

.projects-img {
  width: 60vh;
  height: 30vh;
  padding: 20px;
  resize: both;
  transition: transform .2s;
}

/* Project Section Styles end here */

/* Education Section Styles start here */
.education-container {
  text-align: center;
  justify-content: center;
}

.paper {
  text-align: center;
  padding: 10px;
}

/* Education Section Styles start here */

/* Skill Section Styles start here */
.skills-container {
  text-align: center;
}

.skills-img-container {
  max-width: '80%';
}

.skills-img {
  /* width: 60vh; */
  width: auto;
  height: 30vh;
  padding: 20px;
  resize: both;
  background-color: transparent;
  transition: transform .2s;
}

.skills-item {
  list-style: none;
}

/* Skill Section Styles end here */

/* Contact Section Styles starts here */
.contact-container {
  background-color: #282c34;
  color: white;
  text-align: center;
}

.contact-content {
  background-color: #282c34;
  color: white;
  text-align: center;
}

/* Contact Section Styles ends here */

/* Common Style starts here */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
  width: 100%
}

.header-menu {
  float: right;
  margin-right: 20px;
}

.menu-item {
  padding-right: 25px;
  user-select: none;
  cursor: pointer;
  ;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.justify-content-center {
  justify-content: center;
}

.skills-img-0:hover,
.skills-img-1:hover,
.skills-img-2:hover,
.skills-img-3:hover,
.skills-img-4:hover,
.skills-img-5:hover,
.skills-img-6:hover,
.projects-img-0:hover,
.projects-img-1:hover,
.projects-img-2:hover,
.projects-img-3:hover,
.projects-img-4:hover,
.projects-img-5:hover,
.projects-img-6:hover {
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform: scale(1.1);
}

.education-0:hover,
.education-1:hover,
.education-2:hover {
  border: 1px solid #282c34;
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transform: scale(1.1);
}

.education {
  transition: transform .2s !important;
}